*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.right{
    background-color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    color: white;
    padding: 50px;
    border-radius: 10px;
    opacity: .8;
}

.right .title h2{
    font-weight: 800;
}

.right form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

form input{
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}

.right .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.right .links a{
    color: white;
}

.right .links a.login-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #129be6;
    width: 100px;
    height: 40px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}



